<h1>Create a new scenario</h1>

<%= form_with url: scenarios_path, method: :post do |form| %>
  <%= form.label :requirement_count, "Requirements per player" %>
  <%= form.select :requirement_count, ["3","4","5"] %>
  <br>
  <%= form.label :player_count, "Number of players" %>
  <%= form.select :player_count, ["2","3","4","5"] %>
  <br>
  <%= form.submit "Create scenario" %>
<% end %>
