<h1>Scenario <%= @scenario.id %></h1>
<h2>Starting Layout:</h2>
<div id="starting-layout">
  <%= render(partial: "houses/house", locals: { house: @scenario.starting_layout }) %>
</div>

<h2>Players: </h2>
<div id="players-layout">
  <% @scenario.players.each_with_index do |player, index| %>
    <div id="player-specific-data-<%= index + 1%>">
    <h3>Player <%= index + 1%></h3>
    <%= render(partial: "players/player", locals: { player: player }) %>
    </div>
  <% end %>
</div>
